body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    padding: 0;
    margin: 0;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;

    input {
        padding: 10px;
    }

    .ageInput {
        max-width: 50px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

.infoHeading {
    font-weight: bold;
}

.button {
    display: inline-block;
    color: black;
    text-decoration: none;
    max-width: fit-content;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: palevioletred;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.05);
}

a {
    color: black;
}